#root {
  max-width: 555px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.flatTax-container {
  text-align: center;
  margin-top: 0.8em;
}

.flatTax-band {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 20%;
  border: 2px solid #BEBEBE; /* Colors.gray() */
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.4em;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.header-title {
  margin-left: 15%;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 1em;
}

.hidden-input {
  visibility: hidden;
  pointer-events: none;
}

.children-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 8px;
}

.children-input-container-hidden {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 8px;
}

.tax-base-display {
  font-size: 1.3em;
  margin-top: 2em;
}

.results-container {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
}
